{%- set ecm_data = ['custom-dynamodb'] -%}

locals {
  parameter1 = {{ parameter1 | default('parameter1', true) }}
  parameter2 = {{ parameter2 | default('parameter2', true) }}
  parameter3 = {{ parameter3 | default('parameter3', true) }}
}
